@import "bootstrap-grid";

body {
  background-color: #9580a9;
  font-size: 2vw;
}

.table {
  @extend .container;

  &_row {
    @extend .row;

    &--header {
      height: 65px;
    }
  }

  &_header {
    @extend .col-4;
    border: 2px solid white;
    text-align: center;
  }

  &_first, &_second, &_email {
    @extend .col-4;
    border: 2px solid white;
    min-height: 45px;
    text-align: center;
  }

  &_first, &_second {
  text-transform: capitalize;
  }

  &_email {
    @extend .container;
    text-align: center;

    a {
      text-align: center;
    }
  }

  &_controllers {
    @extend .row;
    position: relative;
    display: block;
  }

  &_edit, &_delete {
    height: 15px;
    cursor: pointer;
  }

}

#addButton {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-duration: 500ms;

  &:hover {
    width: 110px;
    height: 110px;
    background-color: #00b200;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
  }

  &:before {
    content: "";
    position: absolute;
    width: 10px;
    background-color: #fafafa;
    height: 82px;
    margin: 10px 45px;
    text-align: center;
    border-radius: 0%;
  }

  &:after {
    content: "";
    position: absolute;
    width: 10px;
    background-color: #fafafa;
    height: 82px;
    margin: 10px 45px;
    text-align: center;
    border-radius: 20%;
    transform: rotate(90deg);
  }
}

.form {
  @extend container !optional;
  position: relative;
  background-color: #6c757d;
  left: -100%;
  width: 80%;
  margin: 0 auto;
  padding: 30px;

  &_close {
    background-color: white;
    position: relative;
    left: 91%;
    top: 4%;
    border-radius: 50%;
    font-size: 200%;

    &:hover {
      background-color: #ff3e25;
      cursor: pointer;
    }
  }

  &_text {
    display: block;
    margin: 30px auto;
    width: 60%;
    height: 4vw;
  }

  &_buttons {
    position: relative;
    bottom: 10%;
    text-align: center;
  }
}

/*# sourceMappingURL=source.css.map */
